{
{% if docker.thin_pool_device is not none %}
  "storage-driver": "devicemapper",
  "storage-opts": [
    "dm.directlvm_device={{ docker.thin_pool_device }}"
  ]{% if docker.bridge_ip is not none %},{% endif %}
{% endif %}
{% if docker.bridge_ip is not none %}
  "bip": "{{ docker.bridge_ip }}"
{% endif %}
}
